<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_product_layout">

<title layout:fragment="title">Details</title>

<div layout:fragment="content">
<h1>Details</h1>
<p>
  <table  class="table table-striped table-bordered" th:object="${product}">
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Id</td>
      <td th:text="*{id}"></td>
    </tr>
    <tr>
      <td>Product name</td>
      <td th:text="*{name}"></td>
    </tr>
    <tr>
      <td>Weight [kg]</td>
      <td th:text="*{weight}"></td>
    </tr>
    <tr>
      <td>Price [zł]</td>
      <td th:text="*{price}"></td>
    </tr>
    <tr>
      <td>Index</td>
      <td th:text="*{index}"></td>
    </tr>
    <tr>
      <td>Category</td>
      <td class="table-danger" th:text="*{category.getName()}"></td>
    </tr>
  </tbody>
</table>
</p>
</div>
</html>